<h1>Foods</h1>
<%= link_to "Home", "/" %>

<table>
  <tr>
    <th>Food</th>
    <th>Measurement unit</th>
    <th>Unit price</th>
    <th>Actions</th>
  </tr>
  <% @foods.each do |food| %>
    <tr>
      <td><%= food.name %></td>
      <td><%= food.measurement_unit %></td>
      <td><%= food.price %></td>
      <td><%= button_to "Delete", food, method: :delete %></td>
    </tr>
  <% end %>
  </table>

<%= link_to "Add Food", new_food_path %>