<div class="home"><%= link_to "Home", "/", class: "home-inner" %></div>
<div class="foods">
<h1>Foods</h1>
<table>
  <tr>
    <th>Food</th>
    <th>Measurement unit</th>
    <th>Unit price</th>
    <th>Quantity</th>
    <th>Actions</th>
  </tr>
  <% @foods.each do |food| %>
    <tr>
      <td><%= food.name %></td>
      <td><%= food.measurement_unit %></td>
      <td><%= food.price %></td>
      <td><%= food.quantity %></td>
      <td><%= button_to "Delete", food, method: :delete %></td>
    </tr>
  <% end %>
  </table>
  </div>
<div class="addfood"><%= link_to "Add Food", new_food_path, class: "addfood-inner" %></div>