<div>
  <%= form_for @food, url: foods_path(@food) do |f| %>

    <h1>Add Food</h1>
    <div>
      <div>
        <%= f.label :name %><br/>
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>

      <div>
        <%= f.label :measurement_unit %><br/>
        <%= f.text_field :measurement_unit, autocomplete: "measurement_unit" %>
      </div>

      <div>
        <%= f.label :price %>
        <%= f.text_field :price, autocomplete: "price" %>
      </div>

      <div>
        <%= f.label :quantity %><br />
        <%= f.number_field :quantity, autocomplete: "quantity" %>
      </div>
    </div>
    <div>
      <%= f.submit "Add" %>
    </div>
  <% end %>
</div>