<h1>Shopping List</h1>
<div>
<p>Amount of food items to buy: <%= @food_count %> </p>
<% food_quantities_prices = @recipe_foods.map { |food| food.quantity * food.food.price } %>
<p>Total value of food needed: <%= number_to_currency(food_quantities_prices.sum) %> </p>

</div> </br>

<table>
  <tr>
    <th>Name</th>
    <th>Quantity</th>
    <th>Price</th>
    </tr>
    <% @recipe_foods.group_by{|food| food.food.name}.each do |name, foods| %>
    <tr>
      <td><%= name %></td>
      <td><%= foods.sum(&:quantity) %></td>
      <td><%= number_to_currency(foods.first.food.price * foods.sum(&:quantity))%></td>
    </tr>
  <% end %>
  </table>