<%= link_to "Home", "/" %>

<%= form_with model: @recipe_food, url: recipe_recipe_foods_path do |f| %>
  <div>
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>

  <div>
    <%= f.label :food_id %>
    <%= f.select :food_id, @foods.map { |food| [food.name, food.id] } %>
  </div>

  <%= f.hidden_field :recipe_id, value: @recipe_id %>
  <div>
    <%= f.submit "Add Ingredient" %>
  </div>
<% end %>
<table>
  <tr>
    <th>ID</th>
    <th>Food</th>
    <th>Measurement unit</th>
    <th>Unit price</th>
    <th>Quantity</th>
  </tr>
  <% @foods.each do |food| %>
    <tr>
      <td><%= food.id %></td>
      <td><%= food.name %></td>
      <td><%= food.measurement_unit %></td>
      <td><%= food.price %></td>
      <td><%= food.quantity %></td>
    </tr>
  <% end %>
</table>